/target/
target/
.DS_Store
.idea/
.vscode/
*.class
logs/
*.log
Src/main/resources/log4j2.xml
*.iml
.mvn/
*.pdf
*.html
 target/classes/at/fhj/msd
/target/test-classes/
/target/generated-sources/
/target/site/           
/target/checkstyle-result.xml
/target/jacoco.exec
/target/jacoco-ut.exec      